* {
    box-sizing: border-box;
}

body, #root, .container {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color:black;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
}

header h1 {
    font-size: 24px;
    margin-left: 5px;
}

header ul {
    margin-left: auto
}

header li {
    float: left;
    margin: 0px 10px;
    list-style-type: none;
}

.toolbar {
    margin: 20px 10px 5px;
}

.toolbar label {
    margin-right: 10px;
}

.toolbar select {
    width: 150px;
}

.main {
    display: flex;
    flex: 1;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .main {
        flex-direction: column;
    }
}

.main p {
    margin-top: 0;
}

.main > div {
    flex: 1;
    margin: 0px 10px 10px;
}

.blue-bg {
    background: rgba(36, 126, 233, 0.1);
    padding: 15px;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

.btn {
    color: #fff;
    background-color: black;
    border-color: black;
    padding: 10px;
    border-radius: 5px;
}

.editor-container {
    display: flex;
    flex-direction: column;
}

.editor-container button {
   width: 100px;
}

#code {
    flex: 1;
    margin: 0px 0px 20px;
}

.output-container {
    display: flex;
    flex-direction: column;
}

#output {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: monospace;
    font-size: 14px;
    flex: 1;
}

footer {
    margin: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 14px;
}
