[Unit]
Description=Deno Playground

[Service]
Environment=PORT=8090
Environment=C=20

Restart=always
RestartSec=1

WorkingDirectory=/srv

ExecStart=/srv/app
